/* font Family */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }

  *{
    padding: 0;
    margin: 0 ;
  }
  body{
    background-color: rgb(245, 245, 245);
  }
  section{
    margin-bottom: 80px;
  }
main{
    margin: auto 160px;
}
/* SHARED STYLES */
.light-green{
    background: rgb(198, 228, 214);
}
.light-text{
    color: rgba(14, 14, 14, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.dark-text{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 40px;
}
.dark-text-2{
    color: rgba(14, 14, 14,0.8);
    font-weight: 700;
    font-size: 40px;
}
.text-center{
    text-align: center;
}
 .btn{
    font-size: 18px;
    padding: 17px 34px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    border : none;
    border-radius: 8px;
 }
 .btn-vision{
    font-size: 16px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    border : none;
    border-radius: 8px;
    align-self: flex-start;
 }
 .btn-news{
    font-size: 18px;
    padding: 13px 26px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    border : none;
    border-radius: 8px;
    align-self:flex-start;
 }

/* BANNER SECTION */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    gap: 64px;
}

.banner-description{
    max-width: 622px;

}
.banner-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-text{
    font-size: 56px;
}
.btn-banner{
    margin-top: 24px;
}


/* VISION SECTION */
.sec-des{
    margin-top: 24px;
    margin-bottom:32px;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card-item{
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
img{
    align-self: flex-start;
}
.item-title{
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 20px;
}
.item-sub{
    flex:1;
    margin-bottom: 12px;
}
.item-bg-1{
    background: rgb(247, 235, 207);
}
.item-bg-3{
    background: rgba(84, 144, 245, 0.2);
}
.item-bg-1>.btn-vision{
    background: rgb(84, 144, 245);
}
.light-green>.btn-vision{
    background: rgb(9, 161, 92);
}
.item-bg-3>.btn-vision{
    background: rgb(255, 194, 57);
}

/* News Section */

.news-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-item{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
}
.news-item>img{
    border-radius: 24px;
}
.news-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    padding: none;

}
.news-time{
    display: flex;
    gap: 12px;
}
.news-text{
}
